<div id='container'>
<!-- Your code here -->
<div class="navigation">
  <ul>
    <li><a href="/#/links"> All Links</a></li>
    <li><a href="/#/shorten" class="index selected">Shorten</a></li>
    <!--<li><a href="/logout" class="logout">Logout</a></li>-->
  </ul>
  </div>
  <form name="shortenLinks" ng-submit="addLink()">
    <input class="text" type="text" name="url" ng-model="link.url">
    <input type="submit" value="shorten">
  </form>
  <div ng-if="invalid">Not a valid url</div>
  <img class='spinner' src='../assets/spiffygif_46x46.gif'>
  <div class='message'></div>
</div>
